#content {
  margin: 0 auto;
  width: 900px;
  font-family: 'Open Sans', sans-serif;
}


#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
margin-bottom: 50px;
margin: auto;
}

#headline{
 font-family: Helvetica, san-sans-serif;
}

BODY {
font-family: Georgia, serif
font-size: 13px;
}


blockquote {
  font-size: 30px;
  font-style: bold;

}

#mast {
  width: 100%;
  max-width: 1500px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#caption {
  margin-top: 0;
  font-style: italic;
  font-size: 11px;
  width: 500px;
  margin: 10px auto 20px;
}

#image {
  display: block;
  margin: 10px auto 20px;

}
