#content {
  margin: 0 auto;
  width: 900px; 
  font-family: 'Open Sans', sans-serif;
}


#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
}

#headline{

}

BODY {
font-family: 'Open Sans', sans-serif;
font-size: 13px;
}


blockquote {
  font-size: 30px


}
